/*SQUARE NPS*/

/*
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
*/

.sv_q_rating .sv_q_rating_item:nth-child(11) .sv_q_rating_item_text {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.sv_q_rating .sv_q_rating_item:nth-child(1) .sv_q_rating_item_text {
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

span.sv_q_rating_item_text {
    width: 45px;
    height: 40px;
    border-radius: 0;
    box-sizing: border-box;
    margin-right: 0;
    /*border-color: #F0F4F7 !important;*/
}

.sv_main .sv_q_rating_item.active .sv_q_rating_item_text {
    border: 1px solid #E500F6 !important;
    z-index: 900000000;
}

/*320px*/
@media only screen and (max-width: 318px) {
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 100% !important;
        display: block;
        margin: auto;
    }

    div.sv_qstn {
        padding: 0 !important;
    }
    span.sv_q_rating_item_text {
        min-width: 25px !important;
        max-width: 25px !important;
        font-size: 12px !important;
    }
}


/*360px*/
@media only screen and (max-width: 358px) {
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 100% !important;
        display: block;
        margin: auto;
    }

    div.sv_qstn {
        padding: 0 !important;
    }
    span.sv_q_rating_item_text {
        width: 30px !important;
    }
}

/*375px*/
@media only screen and (max-width: 373px) {
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 100% !important;
        display: block;
        margin: auto;
    }

    div.sv_qstn {
        padding: 0 !important;
    }
    span.sv_q_rating_item_text {
        width: 30px !important;
    }
}


/*411px*/
@media only screen and (max-width: 409px) {
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 100% !important;
        display: block;
        margin: auto;
    }

    span.sv_q_rating_item_text {
        width: 30px;
    }
}

/*425px*/
@media only screen and (max-width: 423px) {
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 100% !important;
        display: block;
        margin: auto;
    }

    span.sv_q_rating_item_text {
        width: 32px;
    }
}

/*540px*/
@media only screen and (max-width: 538px) {
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 285px;
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    /*ONLY SQUARE*/
    div[name="b_nps"] {
        padding: 0;
    }

    .local-square-nps {
        width: 25px;
        height: 40px !important;
        border-radius: 0 !important;
        margin-right: 0 !important;
    }
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_min_text {
        /*margin-top: -25px;*/
    }
}
/* < 576, Dentro del iframe son 2 pixeles menos que en el html donde se incrusta*/
@media only screen and (max-width: 574px) {
    .sv_body {
        /*background-color: orange !important;*/
    }
    
    input.sv_complete_btn {
        width: 50%;
        border-radius: 0 !important;
    }
    
    button#close-modal-survey-button {
        width: 50%;
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .sv_main .sv_container .sv_body {
        padding-bottom: 0 !important;
    }
}


