/*BEGIN RESPONSIVE STYLES*/

/*320px*/
@media only screen and (max-width: 318px) {
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 270px !important;
        display: block;
        margin: auto;
    }
}

/* < 540px*/
@media only screen and (max-width: 537px) {
    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating {
        width: 285px;
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .sv_main .sv_container .sv_body .sv_p_root .sv_q_rating .sv_q_rating_min_text {
        margin-top: -25px;
    }
}
/* < 576, Dentro del iframe son 2 pixeles menos que en el html donde se incrusta*/
@media only screen and (max-width: 574px) {
    /*.sv_body {
    }
    
    input.sv_complete_btn {
        width: 50%;
        border-radius: 0 !important;
    }
    
    button#close-modal-survey-button {
        width: 50%;
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .sv_main .sv_container .sv_body {
        padding-bottom: 0 !important;
    }*/
}
/*END RESPONSIVE STYLES*/